:root{
	--mainColor:#000000;
	--secondaryColor:#000000;


	--borderColor:#ffffff;

	--mainText:#ffffff;
	--secondaryText:#ffffff;

	--themeDotBorder:#000000;

	--previewBg:rgb(25, 39, 52, 0.8);
	--previewShadow:#111921;


	--buttonColor:#1f1d1d;
	


}