:root{
	--mainColor:#05ffde;
	--secondaryColor: #05ffde;

	--borderColor:#000000;

	--mainText:rgb(28, 28, 29);
	--secondaryText:#000000;

	--themeDotBorder:#FFF;

	--previewBg:#f0ebeb;
	--previewShadow:#07616d;


	--buttonColor:#31b4a9;


}
